doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href=getStaticURL("sass", "/main.sass"))
    script(type="module" src=getStaticURL("html", "/static/js/focus.js"))
    block head

  body.show-focus
    nav.main-nav
      .links
        a(href="/").link.home CloudTube
        a(href="/subscriptions" title="Subscriptions").link.icon-link
          img(src=getStaticURL("html", "/static/images/subscriptions.svg") width=30 height=25 alt="Subscriptions.").icon
        a(href="/settings" title="Settings").link.icon-link
          img(src=getStaticURL("html", "/static/images/settings.svg") width=25 height=25 alt="Settings.").icon
      form(method="get" action="/search").search-form
        input(type="text" placeholder="Search" name="q" autocomplete="off" value=query).search

    block content
