extends includes/layout

include includes/video-list-item
include includes/subscribe-button

block head
  title= `${data.author} - CloudTube`
  script(type="module" src=getStaticURL("html", "/static/js/channel.js"))

block content
  main.channel-page
    - const banner = data.authorBanners.slice(-1)[0]
    if banner
      .banner
        img(src=banner.url width=banner.width height=banner.height alt="").banner-image

    .channel-data
      .info
        - const thumbnail = data.authorThumbnails.slice(-1)[0]
        if thumbnail
          .logo
            img(src=thumbnail.url width=thumbnail.width height=thumbnail.height alt="").thumbnail-image
        .about
          h1.name= data.author
          .subscribers= data.second__subCountText
        +subscribe_button(data.authorId, subscribed, `/channel/${data.authorId}`).subscribe-button.base-border-look
      .description!= data.descriptionHtml

    .videos
      each video in data.latestVideos
        +video_list_item("channel-video", video, instanceOrigin)
