extends includes/layout.pug

include includes/video-list-item.pug

block head
  title Subscriptions - CloudTube

block content
  main.subscriptions-page
    if hasSubscriptions
      section
        details.channels-details
          summary #{channels.length} subscriptions
          .channels-list
            for channel in channels
              a(href=`/channel/${channel.ucid}`).channel-item
                img(src=channel.icon_url width=512 height=512 alt="").thumbnail
                span.name= channel.name

      if refreshed
        section
          details.channels-details
            summary Last refreshed
            div Oldest channel was refreshed #{timeToPastText(refreshed.min)}
            div Newest channel was refreshed #{timeToPastText(refreshed.max)}
            - const notLoaded = channels.length - refreshed.count
            if notLoaded
              div #{notLoaded} subscriptions have not been refreshed at all

      each video in videos
        .subscriptions-video
          +video_list_item(video)
    else
      .no-subscriptions
        h2 You have no subscriptions.
        p Subscribing to a channel makes its videos appear here.
        p You can find the subscribe button on channels and videos.
